<div class="container">
 <div [hidden]="submitted">
 <body> <h1>Movie Cheat Sheet</h1> 
  <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
    <div class="form-group">
      <h2><label for="name">Enter the name of a movie (or something close to its name):</label></h2>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
    </div>
  <button type="submit" class="btn btn-success" (click) = "loadInfo()">Search</button>
  <h3>Built using TypeScript and Angular.</h3>
  </form>
  </body>
</div>



<div [hidden]="!submitted">

    <div class="text"><h4>{{ model.name }}</h4>
    <h5>{{model.genre}}  ({{model.year}})</h5>
    <br>
    <h6>{{model.plot}}</h6>
    <br>
    {{model.actors}}
    <br>
    <h6>{{model.rating}}</h6>
    </div>
    <div class="poster">
     <img src= "{{ model.img }}" alt="{{model.name}}" width="420" height="600">
    </div>
  <button class="bottom" (click)="submitted=false">Back</button>
  </div>
  
</div>
